@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Outfit";
  font-size: 1.6rem;
  background: white;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem; 
}